html, body{
    height: 100%;
    width: 100%;
}

.hero1{
    height: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Mangos_-_single_and_halved.jpg/500px-Mangos_-_single_and_halved.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero2{
    height: 100%;

     background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(284deg 100% 27%) 8%,
    hsl(327deg 100% 35%) 17%,
    hsl(11deg 100% 43%) 25%,
    hsl(55deg 100% 50%) 33%,
    hsl(41deg 100% 50%) 42%,
    hsl(28deg 100% 50%) 50%,
    hsl(14deg 100% 50%) 58%,
    hsl(0deg 100% 50%) 67%,
    hsl(33deg 100% 50%) 75%,
    hsl(66deg 100% 50%) 83%,
    hsl(99deg 100% 50%) 92%,
    hsl(132deg 100% 50%) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;

}